*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
body {
    min-height: 100vh;
}
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: #fff;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.nav-link {
    color: #fff !important;
    background: #20c997 !important;
}
.nav-link.active {
    font-weight: 600;
    color: #000 !important;
    background: #dbf6ee !important;
}
.form-check-input:checked {
    background-color: #45cba3;
    border-color: #b9d4cc;
}
