body {
    background-color: rgb(25, 25, 25);
    color: white;
}
*::selection {
    background-color: gold;
}

.title {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h1 {
    max-width: 500px;
    margin-top: 200px;
    text-align: center;
    color: white;
    border: 1.6px dotted green;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#text-output {
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px 10px;
    background: green;
    width: 160px;
    border: 2px solid black;
    min-height: 30px;
    height: auto;
    word-break: break-all;
    border-radius: 3px;
}

.container button {
    border: 1px solid greenyellow;
    border-radius: 3px;
    background-color: greenyellow;
    font-weight: 600;
    padding: 10px;
    width: fit-content;
}

button:hover {
    cursor: pointer;
}
button:active {
    background-color: rgba(203, 255, 124, 1);
}

#number-range {
    color: white;
    background-color: white;
}

input::placeholder {
    color: white;
}
