* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(25, 25, 25);
    width: 100vw;
    height: 100vh;
    margin-top: 4rem;
    overflow-x: hidden;
}
main {
    display: flex;
    flex-direction: column;
}

.container {
    width: 400px;
    min-height: 340px;
    margin: 0 auto;
    background-color: rgb(197, 197, 197);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.item-container {
    height: 240px;
    min-width: 320px;
    max-width: 340px;
    gap: 6px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 12px;
}

img {
    cursor: pointer;
    min-width: 100px;
    max-width: 100px;
    max-height: 100px;
}

.button-place {
    margin: 0 auto;
}

button {
    margin-top: 6px;
    background-color: black;
    color: white;
    width: 5rem;
    height: 3rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

button:active {
    background-color: rgb(111, 111, 111);
}
